
export(add_kegg)
export(add_taxonomy)
export(crumble_taxonomy)
export(export_ipath3)
export(export_robject)
export(export_vennlists)
export(filter_shared)
export(filter_text)
export(filter_unshared)
export(getsc_specific)
export(identify_differences)
export(inspect_sample_elements)
export(load_protspeps)
export(plot_dendocluster)
export(plot_fulltaxo)
export(plot_intensities)
export(plot_intensities_ratio)
export(plot_pca)
export(plot_pietaxo)
export(plot_stackedtaxo)
export(plot_venn)
export(remove_element)
export(select_element)

importFrom("dplyr", "%>%", "group_by", "summarize")
importFrom("grDevices", "dev.off", "pdf")
importFrom("graphics", "abline", "barplot", "box", "boxplot", "par", "plot", "text")
importFrom("reshape2", "colsplit")
importFrom("stats", "aggregate", "as.dendrogram", "as.dist", "ave", "cor", "family", "hclust", "order.dendrogram", "reorder")
importFrom("utils", "read.csv2", "select.list", "stack", "write.table")
